@media screen and (min-width: 801px) {
  .sidebar {
    width: 350px;
    height: 100%;
    order: 1;
    margin-left: 50px;
    margin-top: 25px;
    background-color: rgba(24, 24, 24, 0.384);
    padding-bottom: 20px;
    color: white;
    border: none;
    border-radius: 20px;
    list-style: none;
    font-weight: 700;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
  }

  .listHeader {
    width: 100%;
  }
  .editHeader a {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .categoryInputContainer {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    margin-bottom: 30px;
    margin-top: 10px;
    border-bottom: 1px solid black;
    background: none;
  }

  .categoryInputBtn {
    border: none;
    background: none;
    cursor: pointer;
  }
  .categoryInput {
    width: 90%;
    height: 100%;
    border: none;
    background: none;
    font-size: 1rem;
    font-weight: 100;
    text-align: center;
    outline: none;
  }

  .categoryContainer {
    margin-top: 20px;
    width: 90%;
  }

  .categoryHeaderContainer {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(235, 235, 235);
    padding-bottom: 5px;
    margin: 0px 10px;
    margin-bottom: 15px;
  }

  .settingBtn {
    border: none;
    cursor: pointer;

    background: none;
  }

  .categoryBtn {
    text-align: left;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 5px;
    background: none;
    font-size: 1rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.831);
    -webkit-tap-highlight-color: transparent;
  }

  .categoryBtn:hover {
    cursor: pointer;
    background-color: rgba(255, 68, 68, 0.9);
    color: white;
    transition: 0.2s;
  }

  .listHeader {
    padding: 0;
    margin: 0;
  }
}
