li {
  list-style: none;
}

.newTodoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  box-shadow: rgba(99, 99, 99, 0.2) 2px 2px 2px 2px;
  border-radius: 10px;
  width: 90%;
  margin-bottom: 20px;
  padding: 10px;
}

.newTodoContainerClose {
  display: none;
}

.newTodoInput {
  width: 100%;
  border: none;
  background: none;
  padding: 10px 0px;
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 5px;
  margin-top: 5px;
  color: rgb(75, 75, 75);
  outline: none;
}

.newTodoInput::placeholder {
  color: rgb(129, 129, 129);
}

.newTodoBtn {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.buttonContainer {
  margin-top: 0px;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonContainer button {
  background: none;
  border: none;
}

.buttonContainer button:hover {
  cursor: pointer;
}

.controlContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 8px 0px;
  border: none;
  margin-bottom: 15px;
}

.controlContainerCategory {
  display: flex;
  color: rgb(45, 45, 45);
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 700;
}

.controlContainerBtn {
  display: flex;
  align-items: center;
}

.controlContainerBtn li {
  color: red;
  font-weight: 800;
  margin-right: 10px;
}

.saveText {
  transition: 2s;
}

.todo {
  display: flex;
  align-items: center;
  width: 100%;
  height: 45px;
  background-color: rgba(235, 235, 235, 0.221);
  border: none;
  box-shadow: rgba(99, 99, 99, 0.2) 2px 2px 2px 2px;
  border-radius: 10px;
  padding: 10px 10px;
  margin-bottom: 10px;
  margin-left: -10px;
}

.donetodo {
  display: flex;
  align-items: center;
  width: 100%;
  height: 45px;
  background-color: rgba(222, 222, 222, 0.6);
  border: none;
  box-shadow: rgba(99, 99, 99, 0.2) 2px 4px 4px 2px;
  border-radius: 10px;
  padding: 10px 10px;
  margin-bottom: 10px;
  margin-left: -10px;
  transition: 1s;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.formContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.formContainer button {
  background: none;
  border: none;
  outline: none;
  border-radius: 100px;
}

.formContainer button:hover {
  cursor: pointer;
}

.msgContainer {
  display: flex;
}

.submitContainer {
  display: flex;
  width: 100%;
}

.inputContainer {
  width: 90%;
  border: none;
  display: flex;
  font-weight: 600;
  padding: 0px 20px;
  border-radius: 10px;
}

.selectContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 30px;
  padding: 5px;
  background: none;
}

.selectEditContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  padding: 3px 0px;

  background: none;
}

.selectContainer input {
  height: 20px;
  width: 90px;
  font-size: 10px;
  font-weight: 400;
  border: none;
  border-radius: 30px;
  color: rgb(0, 0, 0);
  background-color: rgba(199, 199, 199, 0.4);
  padding: 2px 8px;
  margin: 0px 5px;
  outline: none;
}

.selectEditContainer input {
  height: 15px;
  width: 90%;
  font-size: 8px;
  font-weight: 400;
  border: none;
  border-radius: 30px;
  color: rgb(0, 0, 0);
  background-color: rgba(199, 199, 199, 0.4);
  padding: 2px 8px;
  margin-right: 5px;
  outline: none;
}

.selectContainer select {
  text-align: center;
  width: 120px;
  height: 24px;
  font-size: 12px;
  font-weight: 400;
  border: none;
  background-color: rgba(199, 199, 199, 0.4);
  border-radius: 30px;
  margin: 0px 5px;
  outline: none;
}

.selectEditContainer select {
  text-align: center;
  width: 100%;
  height: 20px;
  font-size: 8px;
  font-weight: 400;
  border: none;
  border-radius: 30px;
  margin: 0px 0px;
  background-color: rgba(199, 199, 199, 0.4);
  outline: none;
}

.checkboxContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 10px;
  padding-top: 1px;
}

.contentsContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 70px;
  margin-top: 30px;
}

.todoContainer {
  width: 70%;
}

.todoNoneContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: 400;
  position: fixed;
  border: none;
  border-radius: 100px;
  color: white;
  bottom: 40px;
  right: 80px;
  width: 180px;
  height: 50px;
}

.remainingTime {
  font-size: 8px;
  width: 80px;
  height: 20px;
  list-style: none;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(52, 52, 52);
  color: white;
  padding: 0px 5px 0px 5px;
  margin-top: 4px;
}

.editInputdisabled {
  background: none;
  width: 100%;
  border: none;
  border-radius: 20px;
  padding: 0px 0px 1px 2px;
  margin-right: 5px;
  font-size: 1.3rem;
  font-weight: 200;
  color: black;
}

.editInputabled {
  width: 100%;
  background-color: rgba(222, 222, 222, 0.185);
  border: none;
  padding: 0px 0px 1px 10px;
  margin-right: 5px;
  font-size: 1.2rem;
  border-radius: 5px;
  font-weight: 200;
  color: #393939;
}

.editBtn,
.removeBtn {
  padding: 1px;
}

.editBtn svg {
  width: 30px;
  height: 32px;
}

.removeBtn svg {
  width: 30px;
  height: 30px;
}

.editRemoveBtnContainer {
  display: flex;
}

input[type="checkbox"] {
  display: none;
}

.checkboxChecked {
  width: 24px;
  height: 24px;
  border-radius: 30px;
  background-color: #d5dadd;
  transition: background 300ms;
  background-size: contain;
  cursor: pointer;
  box-shadow: inset 0 0 0 1px #ccd3d8;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E %3C/svg%3E");
}

/* checkboxF는 체크해제 */
.checkboxCheckF {
  border-radius: 30px;
  width: 24px;
  height: 24px;
  background-color: #4690f7;
  transition: background 300ms;
  background-size: contain;
  cursor: pointer;
  box-shadow: inset 0 0 0 1px #ccd3d8;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E %3C/svg%3E");
}

.backBtn {
  position: fixed;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  bottom: 40px;
  right: 30px;
  width: 50px;
  height: 50px;
  box-shadow: rgba(189, 181, 181, 0.2) 0px 2px 2px 0px;
}

.realbackBtn {
  position: fixed;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  bottom: 40px;
  right: 90px;
  width: 50px;
  height: 50px;
}

@media screen and (max-width: 520px) {
  .newTodoInput {
    font-size: 1.5rem;
  }

  .buttonContainer {
    width: 90%;
  }

  .todoContainer {
    width: 90%;
  }

  .inputContainer {
    width: 90%;
  }
}

@media screen and (min-width: 801px) {
  .newTodoContainer {
    width: 70%;
  }
  .backBtn:hover,
  .realbackBtn:hover {
    cursor: pointer;
    background-color: rgba(255, 68, 68, 0.9);
    color: white;
    transform: scale(1.1);
    transition: 0.2s;
  }

  .backBtn:not(:hover),
  .realbackBtn:not(:hover) {
    transform: scale(1);
    transition: 0.2s;
  }

  .controlContainerBtn button:hover {
    transform: rotate(10deg);
    transition: 0.2s;
  }

  .controlContainerBtn button:not(hover) {
    transform: scale(1);
    transition: 0.2s;
  }

  .todo:hover,
  .donetodo:hover {
    transform: scale(1.005);
    transition: 0.2s;
  }

  .todo:not(:hover),
  .donetodo:not(:hover) {
    transform: scale(1);
    transition: 0.2s;
  }
}
