.todo {
  display: flex;
  width: 100%;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px rgb(241, 241, 241);
  margin-bottom: 5px;
}

.formContainer {
  display: flex;
}

.submitContainer {
  width: 100%;
}

.contentsContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todoContainer {
  width: 90%;
}

.editInputdisabled {
  background-color: white;
  width: 100%;
  border: none;
  border-radius: 3px;
  padding: 5px 9px;
  font-size: 2rem;
  font-weight: 600;
  color: black;
}

.editInputabled {
  width: 100%;
  background-color: white;
  border: none;
  padding: 5px 9px;
  font-size: 2rem;
  font-weight: 600;
  color: #393939;
}

.formContainer button {
  background: none;
  border: none;
  border-radius: 100px;
}

.formContainer button:hover {
  cursor: pointer;
}

.editRemoveBtnContainer {
  display: flex;
}
