.newTodoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.newTodoInput {
  width: 100%;
  border: none;
  border-bottom: 2px solid #5c4d4d61;
  padding: 20px 0px;
  font-size: 2rem;
  font-weight: 100;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 10px;
  outline: none;
}

.newTodoBtn {
  background-color: white;
  border: none;
  cursor: pointer;
}

.todo {
  display: flex;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid rgb(216, 216, 216);
  padding: 10px 0px;
}

.formContainer {
  display: flex;
}

.submitContainer {
  width: 100%;
}

.checkboxContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 10px;
}

.contentsContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todoContainer {
  width: 90%;
}

.editInputdisabled {
  background-color: white;
  width: 100%;
  border: none;
  border-radius: 3px;
  padding: 5px 9px;
  font-size: 2rem;
  font-weight: 200;
  color: black;
}

.editInputabled {
  width: 100%;
  background-color: white;
  border: none;
  padding: 5px 9px;
  font-size: 2rem;
  font-weight: 200;
  color: #393939;
}

.formContainer button {
  background: none;
  border: none;
  border-radius: 100px;
}

.formContainer button:hover {
  cursor: pointer;
}

.editRemoveBtnContainer {
  display: flex;
}

input[type="checkbox"] {
  display: none;
}

.checkboxChecked {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background-color: #d5dadd;
  transition: background 300ms;
  background-size: contain;
  cursor: pointer;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E %3C/svg%3E");
}

/* checkboxF는 체크해제 */
.checkboxCheckF {
  border-radius: 30px;
  width: 30px;
  height: 30px;
  background-color: #4690f7;
  transition: background 300ms;
  background-size: contain;
  cursor: pointer;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E %3C/svg%3E");
}
